:root {
    --color: #f97010;
    --color1: #f9af10;
    --bg-color: #11202d;
    --white: #fff;
    --black: #0e0d0d;
    --gray: rgb(212, 212, 212);
    --text-gray: #a1a1a1;
    --light: rgb(241, 241, 241);
}


.blog-section{
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    position: relative;
}

.blog-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.big-blog{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 2%;
    background-color: var(--light);
}

.big-blog-content{
    width: 65%;
    height: auto;
}

.big-blog-content span{
    color: var(--bg-color);
    font-weight: 800;
}

.big-blog-content h2{
    font-size: 20px;
    margin-bottom: 3%;
    font-weight: 700;
    color: var(--color);
    padding-bottom: 2%;
    border-bottom: 1px dashed var(--color);
}

.big-blog-content p{
    color: var(--text-gray);
    font-weight: 100;
}

.big-blog-admin p{
    color: var(--text-gray) !important;
}

.big-blog-image{
    width: 32%;
    height: 100%;
}

.big-blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-blog{
    width: 33%;
    height: auto;
    padding: 2%;
    background-color: var(--light);
}

.small-blog .small-blog-images{
    width: 100%;
    height: 150px;
}


.small-blog .small-blog-images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-blog .small-blog-content{
    width: 100%;
    height: auto;
}

.small-blog .small-blog-content span{
    color: var(--bg-color);
    font-weight: 700;
}

.small-blog .small-blog-content h2{
    font-size: 20px;
    color: var(--color);
    font-weight: 700;
    padding-bottom: 2%;
    border-bottom: 1px dashed var(--color);
}

@media screen and (max-width:768px) {

 
.big-blog{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    background-color: var(--light);
}


.small-blog{
    width: 100%;
    height: auto;
    padding: 2%;
    background-color: var(--light);
}


    
.big-blog-content{
    width: 100%;
    height: auto;
}


.big-blog-image{
    width: 100%;
    height: 200px;
}
.big-blog-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
   

}