@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s all;
    font-family: roboto;
}


:root {
    --color: #f97010;
    --bg-color: #11202d;
    --white: #fff;
    --black: #0e0d0d;
    --gray: rgb(212, 212, 212);
    --text-gray: #a1a1a1;
}

/* Font size  */

h1 {
    font-size: 42px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
}


/* swipper  */

.banner-section {
    width: 100%;
    height: 65vh;
    position: relative;
    margin-bottom: 5%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative !important;
    z-index: 0;
    overflow: hidden;
}

.swiper-slide::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--black);
    opacity: 0.9;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.hero-content h5 {
    color: var(--white);
}

.hero-content h1 {
    color: var(--color) !important;
    filter: drop-shadow(0 0 1px var(--white));
}

.hero-content h1 span {
    color: var(--white) !important;
    filter: drop-shadow(0 0 1px var(--color));
}

.hero-content p {
    color: var(--white);
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 18px !important;
    color: var(--color);
    border: 1px solid var(--white);
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
}




.location {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    margin-bottom: 20px;
}

.location-1 {
    width: 47%;
    height: auto;

}

.location-1 .info {
    margin-bottom: 60px;
}

.location-1 h4 {
    color: black;
    font-weight: bold;
}

.info a {
    text-decoration: none;
    color: rgb(74, 72, 72);
    font-family: roboto;
    font-size: 17px;
}

.info i {
    color: var(--color);
    font-size: 22px;
}


.split input {
    width: 44%;
    padding: 6px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    border: none;

}

input {
    width: 90%;
    padding: 6px;
    margin-bottom: 20px !important;
    background-color: rgb(245, 245, 245);
    border: none;
}

textarea {
    width: 90%;
    padding: 6px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    border: none;

}


.submit-button {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 5px 0;
    color: white;
    background-color: var(--color);
    /* border:.5px solid white; */
    z-index: 1;
    transition: color 0.5s;
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 0px;
    font-size: 18PX;

}

.submit-button:hover {
    color: var(--red);


}




























@media screen and (max-width:320px) {




    .location {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .location-1 {
        width:100%;
        height: auto;

    }

    .location-1 .info {
        margin-bottom: 40px;
    }

    .location-1 h4 {
        color: black;
        font-weight: bold;
        font-size:16px;
    }

    .info a {
        text-decoration: none;
        color: rgb(74, 72, 72);
        font-family: roboto;
        font-size: 17px;
    }

    .info i {
        color: var(--color);
        font-size: 22px;
    }


    .split input {
        width:100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }

    input {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px !important;
        background-color: rgb(245, 245, 245);
        border: none;
    }

    textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }


    .submit-button {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
        color: white;
        background-color: var(--color);
        /* border:.5px solid white; */
        z-index: 1;
        transition: color 0.5s;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 18PX;

    }

    .submit-button:hover {
        color: var(--red);


    }









}


@media screen and (min-width:321px) and (max-width:375px){


   
    .location {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .location-1 {
        width:100%;
        height: auto;

    }

    .location-1 .info {
        margin-bottom: 40px;
    }

    .location-1 h4 {
        color: black;
        font-weight: bold;
        font-size:16px;
    }

    .info a {
        text-decoration: none;
        color: rgb(74, 72, 72);
        font-family: roboto;
        font-size: 17px;
    }

    .info i {
        color: var(--color);
        font-size: 22px;
    }


    .split input {
        width:100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }

    input {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px !important;
        background-color: rgb(245, 245, 245);
        border: none;
    }

    textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }


    .submit-button {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
        color: white;
        background-color: var(--color);
        /* border:.5px solid white; */
        z-index: 1;
        transition: color 0.5s;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 18PX;

    }

    .submit-button:hover {
        color: var(--red);


    }








}

@media screen and (min-width:376px) and (max-width:425px){

  
   
    .location {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .location-1 {
        width:100%;
        height: auto;

    }

    .location-1 .info {
        margin-bottom: 40px;
    }

    .location-1 h4 {
        color: black;
        font-weight: bold;
        font-size:16px;
    }

    .info a {
        text-decoration: none;
        color: rgb(74, 72, 72);
        font-family: roboto;
        font-size: 17px;
    }

    .info i {
        color: var(--color);
        font-size: 22px;
    }


    .split input {
        width:100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }

    input {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px !important;
        background-color: rgb(245, 245, 245);
        border: none;
    }

    textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }


    .submit-button {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
        color: white;
        background-color: var(--color);
        /* border:.5px solid white; */
        z-index: 1;
        transition: color 0.5s;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 18PX;

    }

    .submit-button:hover {
        color: var(--red);


    }





}




@media screen and (min-width:426px) and (max-width:600px){


   
   
    .location {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .location-1 {
        width:100%;
        height: auto;

    }

    .location-1 .info {
        margin-bottom: 40px;
    }

    .location-1 h4 {
        color: black;
        font-weight: bold;
        font-size:16px;
    }

    .info a {
        text-decoration: none;
        color: rgb(74, 72, 72);
        font-family: roboto;
        font-size: 17px;
    }

    .info i {
        color: var(--color);
        font-size: 22px;
    }


    .split input {
        width:100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }

    input {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px !important;
        background-color: rgb(245, 245, 245);
        border: none;
    }

    textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }


    .submit-button {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
        color: white;
        background-color: var(--color);
        /* border:.5px solid white; */
        z-index: 1;
        transition: color 0.5s;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 18PX;

    }

    .submit-button:hover {
        color: var(--red);


    }




}


@media screen and (min-width:601px) and (max-width:768px){

   
    .location {
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .location-1 {
        width:100%;
        height: auto;

    }

    .location-1 .info {
        margin-bottom: 40px;
    }

    .location-1 h4 {
        color: black;
        font-weight: bold;
        font-size:16px;
    }

    .info a {
        text-decoration: none;
        color: rgb(74, 72, 72);
        font-family: roboto;
        font-size: 17px;
    }

    .info i {
        color: var(--color);
        font-size: 22px;
    }


    .split input {
        width:100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }

    input {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px !important;
        background-color: rgb(245, 245, 245);
        border: none;
    }

    textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }


    .submit-button {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
        color: white;
        background-color: var(--color);
        /* border:.5px solid white; */
        z-index: 1;
        transition: color 0.5s;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 18PX;

    }

    .submit-button:hover {
        color: var(--red);


    }


    





}


@media screen and (min-width:769px) and (max-width:900px){

   
    .location {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .location-1 {
        width:47%;
        height: auto;

    }

    .location-1 .info {
        margin-bottom: 60px;
    }

    .location-1 h4 {
        color: black;
        font-weight: bold;
        font-size:16px;
    }

    .info a {
        text-decoration: none;
        color: rgb(74, 72, 72);
        font-family: roboto;
        font-size: 17px;
    }

    .info i {
        color: var(--color);
        font-size: 22px;
    }


    .split input {
        width:100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }

    input {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px !important;
        background-color: rgb(245, 245, 245);
        border: none;
    }

    textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }


    .submit-button {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
        color: white;
        background-color: var(--color);
        /* border:.5px solid white; */
        z-index: 1;
        transition: color 0.5s;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 18PX;

    }

    .submit-button:hover {
        color: var(--red);


    }






}



@media screen and (min-width:991px) and (max-width:992px){


   
    .location {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin-top:30px;
        margin-bottom: 20px;
    }

    .location-1 {
        width:47%;
        height: auto;

    }

    .location-1 .info {
        margin-bottom: 60px;
    }

    .location-1 h4 {
        color: black;
        font-weight: bold;
        font-size:16px;
    }

    .info a {
        text-decoration: none;
        color: rgb(74, 72, 72);
        font-family: roboto;
        font-size: 17px;
    }

    .info i {
        color: var(--color);
        font-size: 22px;
    }


    .split input {
        width:100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }

    input {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px !important;
        background-color: rgb(245, 245, 245);
        border: none;
    }

    textarea {
        width: 100%;
        padding: 6px;
        margin-bottom: 20px;
        background-color: rgb(245, 245, 245);
        border: none;

    }


    .submit-button {
        width: 150px;
        text-decoration: none;
        display: inline-block;
        margin: 0 10px;
        padding: 5px 0;
        color: white;
        background-color: var(--color);
        /* border:.5px solid white; */
        z-index: 1;
        transition: color 0.5s;
        text-align: center;
        position: relative;
        margin-top: 10px;
        margin-right: 10px;
        border-radius: 0px;
        font-size: 18PX;

    }

    .submit-button:hover {
        color: var(--red);


    }





}